Repository spring-projects/spring-data-cassandra: changes, and which Jenkins stages are due for each by the changed paths.
All: Publish JDK 8 + Cassandra 3.11, Publish JDK 11 + Cassandra 3.11, Publish JDK 17 + Cassandra 3.11

Publish JDK 8 + Cassandra 3.11:
  					agent { label 'data' }
  					options { timeout(time: 30, unit: 'MINUTES') }
  					steps {
  						script {
  							def image = docker.build("springci/spring-data-openjdk8-cassandra-3.11", "ci/openjdk8-cassandra-3.11/")
  							docker.withRegistry('', 'hub.docker.com-springbuildmaster') {
  ...

Publish JDK 11 + Cassandra 3.11:
  					agent { label 'data' }
  					options { timeout(time: 30, unit: 'MINUTES') }
  					steps {
  						script {
  							def image = docker.build("springci/spring-data-openjdk11-8-cassandra-3.11", "ci/openjdk11-8-cassandra-3.11/")
  							docker.withRegistry('', 'hub.docker.com-springbuildmaster') {
  ...

Publish JDK 17 + Cassandra 3.11:
  					agent { label 'data' }
  					options { timeout(time: 30, unit: 'MINUTES') }
  					steps {
  						script {
  							def image = docker.build("springci/spring-data-openjdk17-8-cassandra-3.11", "ci/openjdk17-8-cassandra-3.11/")
  							docker.withRegistry('', 'hub.docker.com-springbuildmaster') {
  ...

Release version 4.0 M1 (2022.0.0).
  pom.xml
  spring-data-cassandra-distribution/pom.xml
  spring-data-cassandra/pom.xml
Due: none

Prepare next development iteration.
  pom.xml
  spring-data-cassandra-distribution/pom.xml
  spring-data-cassandra/pom.xml
Due: none

Prepare 3.4 M2 (2021.2.0).
  pom.xml
  src/main/resources/notice.txt
Due: none

Release version 3.4 M2 (2021.2.0).
  pom.xml
  spring-data-cassandra-distribution/pom.xml
  spring-data-cassandra/pom.xml
Due: none

After release cleanups.
  pom.xml
Due: none

Externalize build properties.
  Jenkinsfile
  ci/openjdk11-8-cassandra-3.11/Dockerfile
  ci/openjdk17-8-cassandra-3.11/Dockerfile
  ci/openjdk8-cassandra-3.11/Dockerfile
  ci/pipeline.properties
Due: Publish JDK 8 + Cassandra 3.11, Publish JDK 11 + Cassandra 3.11, Publish JDK 17 + Cassandra 3.11

Polishing.
  Jenkinsfile
  ci/openjdk11-8-cassandra-3.11/Dockerfile
  ci/openjdk17-8-cassandra-3.11/Dockerfile
  ci/pipeline.properties
Due: Publish JDK 11 + Cassandra 3.11, Publish JDK 17 + Cassandra 3.11

Externalize build properties.
  Jenkinsfile
  ci/openjdk11-8-cassandra-3.11/Dockerfile
  ci/openjdk15-8-cassandra-3.11/Dockerfile
  ci/openjdk8-cassandra-3.11/Dockerfile
  ci/pipeline.properties
Due: Publish JDK 8 + Cassandra 3.11, Publish JDK 11 + Cassandra 3.11

Externalize build properties.
  Jenkinsfile
  ci/openjdk17-8-cassandra-3.11/Dockerfile
  ci/pipeline.properties
Due: Publish JDK 17 + Cassandra 3.11

Polishing.
  Jenkinsfile
  ci/openjdk11-8-cassandra-3.11/Dockerfile
  ci/openjdk15-8-cassandra-3.11/Dockerfile
Due: Publish JDK 11 + Cassandra 3.11

Polishing.
  Jenkinsfile
  ci/openjdk17-8-cassandra-3.11/Dockerfile
Due: Publish JDK 17 + Cassandra 3.11

Polishing.
  Jenkinsfile
  ci/pipeline.properties
Due: none

Use Harbor Proxy for containers.
  Jenkinsfile
Due: none

Adapt repository to List-based interface variants.
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/repository/CassandraRepository.java
Due: none

Polishing.
  spring-data-cassandra/src/test/kotlin/org/springframework/data/cassandra/core/cql/CqlOperationsExtensionsUnitTests.kt
  spring-data-cassandra/src/test/kotlin/org/springframework/data/cassandra/core/cql/ReactiveCqlOperationsExtensionsUnitTests.kt
Due: none

Introduce caching for commonly used model computations.
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/convert/DefaultColumnTypeResolver.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/convert/MappingCassandraConverter.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/mapping/BasicCassandraPersistentProperty.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/mapping/CachingCassandraPersistentProperty.java
Due: none

Use Reactor's expand(…) operator for recursive pagination.
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/session/DefaultBridgedReactiveSession.java
Due: none

Polishing.
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/convert/MappingCassandraConverter.java
Due: none

Extend supported fields for query options
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/DeleteOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/InsertOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/UpdateOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/QueryOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/QueryOptionsUtil.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/WriteOptions.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/QueryOptionsUnitTests.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/WriteOptionsUnitTests.java
Due: none

Test polishing
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/QueryOptionsUnitTests.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/QueryOptionsUtilUnitTests.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/WriteOptionsUnitTests.java
Due: none

Extend supported fields for query options.
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/DeleteOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/InsertOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/UpdateOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/QueryOptions.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/QueryOptionsUtil.java
  spring-data-cassandra/src/main/java/org/springframework/data/cassandra/core/cql/WriteOptions.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/QueryOptionsUnitTests.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/QueryOptionsUtilUnitTests.java
  spring-data-cassandra/src/test/java/org/springframework/data/cassandra/core/cql/WriteOptionsUnitTests.java
Due: none

Path conditions:
  Publish JDK 8 + Cassandra 3.11: any of: ci/openjdk8-cassandra-3.11/**
  Publish JDK 11 + Cassandra 3.11: any of: ci/openjdk11-8-cassandra-3.11/**
  Publish JDK 17 + Cassandra 3.11: any of: ci/openjdk17-8-cassandra-3.11/**
